*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{
    background-color: rgb(161, 194, 255);
}

.insert_task input, .insert_task button{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.insert_task button{
    background-color: #67ffab;
    margin-left: 0.5rem;
}

.checked{
    background-color: rgb(73, 248, 152);
}

.todo_list{
    font-family: 'Square Peg',
    cursive;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
}

section > ul{
    height: 100%;
}

.empty{
    color: crimson;
    text-decoration: underline;
}

h5{
    font-size: 2rem;
}

span{
    font-size: 1.5rem;
    color: white;
}