*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{
    background-color: antiquewhite;
}

.insert_task input, .insert_task button{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.insert_task button{
    background-color: coral;
    margin-left: 0.5rem;
}

.through{
    text-decoration: line-through;
}

section{
    background-color: rgba(252, 143, 104, 0.774);
    border-radius: 1rem;
}